# Exercise 1

In [543]:
import pandas as pd
import numpy as np

In [577]:
data = {"b": 4, "a": 2, "c": 5,"d": "hi", "f": "pandas", "z": np.nan}
ds = pd.Series(data)
ds

b         4
a         2
c         5
d        hi
f    pandas
z       NaN
dtype: object

In [578]:
# add to series
ds = ds.append(pd.Series({'m': 10}))
ds

b         4
a         2
c         5
d        hi
f    pandas
z       NaN
m        10
dtype: object

In [581]:
# change data type to integer
ds = pd.to_numeric(ds , errors = "coerce")
ds = ds_int.astype('Int64')
ds

b       4
a       2
c       5
d    <NA>
f    <NA>
z    <NA>
m      10
dtype: Int64

In [582]:
#removed null value
ds = ds.dropna()
ds

b     4
a     2
c     5
m    10
dtype: Int64

In [584]:
#sort alphabetically
ds = ds.sort_index()
ds

a     2
b     4
c     5
m    10
dtype: Int64

In [585]:
# count of unique element
unique_count = ds.nunique()
unique_count

4

In [587]:
#sort descending
ds = ds.sort_index(ascending=False)
ds

m    10
c     5
b     4
a     2
dtype: Int64

# Exercise 2

In [588]:
# dataframe having 5 columns and 50 random data
df = pd.DataFrame(np.random.randint(100,size =(50, 5)) ,columns = ['col1','col2','col3','col4','col5'])
df

    col1  col2  col3  col4  col5
0     14    10    55    69    35
1     90    47    38    86    85
2      5    24    88    72     1
3     60    21    28    80    32
4     45    29    63    15    83
5     23    24    96    32     7
6     30    97     6    82    32
7     54    89    44    38    76
8     44    18    58    85    67
9     96    11    99    67    71
10    13    71    94    96    10
11    49    59    41    10    46
12    12    66    24    34    59
13    21    60     4    30    44
14    80    56     5    25    16
15    22     1    20    28    97
16    15    67    92    64    82
17    21    13    74    41    11
18    26    57    41    77    77
19    65    19    25    87    57
20    53    64    81    31    37
21    49    75    18    54    29
22    72     8    67    76    62
23    90    74    73    73    42
24    80    42    24    89    53
25    11    18    15    22    31
26    33    26    58    34    68
27    32    34    78     8    30
28     3    55     0    44    45
29    31    71    14    95    80
30    17     7    48    42     1
31    19    20    91    81    18
32     4    13    70    49    98
33    89    38    97    68    35
34    19    83    61    68    53
35    48    43    52    83    16
36    20    12    72    42    13
37    21    39    44    44    97
38    65    57    58    82    54
39    29    45    81    39    93
40    66    19    89    27    16
41    27    99    87    56     5
42     8    22    92    54     9
43    50     4    30    39    50
44    59    64    45    77    12
45    35    52     2    78    23
46    14     2    54    90    37
47    47    58    22    29     1
48    58    87    95    46    90
49    67    85    18    36    85

In [589]:
# Retrieve the data from index 30-40 with the first 3 columns (Note: Use column index only)
df.iloc[30:40, :3]

    col1  col2  col3
30    17     7    48
31    19    20    91
32     4    13    70
33    89    38    97
34    19    83    61
35    48    43    52
36    20    12    72
37    21    39    44
38    65    57    58
39    29    45    81

In [590]:
# Retrieve last 10 rows of 2nd and 5th columns (Note: Use column name only)
df.loc[40:50,["col2","col5"]]

    col2  col5
40    19    16
41    99     5
42    22     9
43     4    50
44    64    12
45    52    23
46     2    37
47    58     1
48    87    90
49    85    85

In [591]:
# Retrieve 1st and 5th column with some condition applied to 2nd column (Condition Example: all rows having value greater than x)
df.loc[df["col2"] > 10, ["col1","col5"]]

    col1  col5
1     90    85
2      5     1
3     60    32
4     45    83
5     23     7
6     30    32
7     54    76
8     44    67
9     96    71
10    13    10
11    49    46
12    12    59
13    21    44
14    80    16
16    15    82
17    21    11
18    26    77
19    65    57
20    53    37
21    49    29
23    90    42
24    80    53
25    11    31
26    33    68
27    32    30
28     3    45
29    31    80
31    19    18
32     4    98
33    89    35
34    19    53
35    48    16
36    20    13
37    21    97
38    65    54
39    29    93
40    66    16
41    27     5
42     8     9
44    59    12
45    35    23
47    47     1
48    58    90
49    67    85

In [592]:
# Sample some of the data from the 1st column into a list and add some additional random data in it.
df1 = df['col1'].sample(n=10,random_state=1)

df_list = df1.to_numpy()
df_list = np.append(df_list,np.random.randint(100,size = 5))
df_list

array([32, 48, 66, 65,  5, 60, 58, 31, 14, 19, 55, 12, 21,  4, 38])

In [593]:
# Filter the dataframe and retrieve only those rows if 1st column contains the sampled data
filtered_df = df['col1'].isin(df_list)
df[filtered_df]

    col1  col2  col3  col4  col5
0     14    10    55    69    35
2      5    24    88    72     1
3     60    21    28    80    32
12    12    66    24    34    59
13    21    60     4    30    44
17    21    13    74    41    11
19    65    19    25    87    57
27    32    34    78     8    30
29    31    71    14    95    80
31    19    20    91    81    18
32     4    13    70    49    98
34    19    83    61    68    53
35    48    43    52    83    16
37    21    39    44    44    97
38    65    57    58    82    54
40    66    19    89    27    16
46    14     2    54    90    37
48    58    87    95    46    90

In [594]:
# Update the value of the 1st and 3rd column with new values in the 35th index of row
df.at[[35],['col1','col3']] = 25
df

    col1  col2  col3  col4  col5
0     14    10    55    69    35
1     90    47    38    86    85
2      5    24    88    72     1
3     60    21    28    80    32
4     45    29    63    15    83
5     23    24    96    32     7
6     30    97     6    82    32
7     54    89    44    38    76
8     44    18    58    85    67
9     96    11    99    67    71
10    13    71    94    96    10
11    49    59    41    10    46
12    12    66    24    34    59
13    21    60     4    30    44
14    80    56     5    25    16
15    22     1    20    28    97
16    15    67    92    64    82
17    21    13    74    41    11
18    26    57    41    77    77
19    65    19    25    87    57
20    53    64    81    31    37
21    49    75    18    54    29
22    72     8    67    76    62
23    90    74    73    73    42
24    80    42    24    89    53
25    11    18    15    22    31
26    33    26    58    34    68
27    32    34    78     8    30
28     3    55     0    44    45
29    31    71    14    95    80
30    17     7    48    42     1
31    19    20    91    81    18
32     4    13    70    49    98
33    89    38    97    68    35
34    19    83    61    68    53
35    25    43    25    83    16
36    20    12    72    42    13
37    21    39    44    44    97
38    65    57    58    82    54
39    29    45    81    39    93
40    66    19    89    27    16
41    27    99    87    56     5
42     8    22    92    54     9
43    50     4    30    39    50
44    59    64    45    77    12
45    35    52     2    78    23
46    14     2    54    90    37
47    47    58    22    29     1
48    58    87    95    46    90
49    67    85    18    36    85

In [595]:
# Delete the row of the index position: 35, 39, 51
df.drop(df.index[[35,39,41]], inplace=True)
df

    col1  col2  col3  col4  col5
0     14    10    55    69    35
1     90    47    38    86    85
2      5    24    88    72     1
3     60    21    28    80    32
4     45    29    63    15    83
5     23    24    96    32     7
6     30    97     6    82    32
7     54    89    44    38    76
8     44    18    58    85    67
9     96    11    99    67    71
10    13    71    94    96    10
11    49    59    41    10    46
12    12    66    24    34    59
13    21    60     4    30    44
14    80    56     5    25    16
15    22     1    20    28    97
16    15    67    92    64    82
17    21    13    74    41    11
18    26    57    41    77    77
19    65    19    25    87    57
20    53    64    81    31    37
21    49    75    18    54    29
22    72     8    67    76    62
23    90    74    73    73    42
24    80    42    24    89    53
25    11    18    15    22    31
26    33    26    58    34    68
27    32    34    78     8    30
28     3    55     0    44    45
29    31    71    14    95    80
30    17     7    48    42     1
31    19    20    91    81    18
32     4    13    70    49    98
33    89    38    97    68    35
34    19    83    61    68    53
36    20    12    72    42    13
37    21    39    44    44    97
38    65    57    58    82    54
40    66    19    89    27    16
42     8    22    92    54     9
43    50     4    30    39    50
44    59    64    45    77    12
45    35    52     2    78    23
46    14     2    54    90    37
47    47    58    22    29     1
48    58    87    95    46    90
49    67    85    18    36    85

In [596]:
#reindex the dataframe
df.reset_index(drop=True)
df

    col1  col2  col3  col4  col5
0     14    10    55    69    35
1     90    47    38    86    85
2      5    24    88    72     1
3     60    21    28    80    32
4     45    29    63    15    83
5     23    24    96    32     7
6     30    97     6    82    32
7     54    89    44    38    76
8     44    18    58    85    67
9     96    11    99    67    71
10    13    71    94    96    10
11    49    59    41    10    46
12    12    66    24    34    59
13    21    60     4    30    44
14    80    56     5    25    16
15    22     1    20    28    97
16    15    67    92    64    82
17    21    13    74    41    11
18    26    57    41    77    77
19    65    19    25    87    57
20    53    64    81    31    37
21    49    75    18    54    29
22    72     8    67    76    62
23    90    74    73    73    42
24    80    42    24    89    53
25    11    18    15    22    31
26    33    26    58    34    68
27    32    34    78     8    30
28     3    55     0    44    45
29    31    71    14    95    80
30    17     7    48    42     1
31    19    20    91    81    18
32     4    13    70    49    98
33    89    38    97    68    35
34    19    83    61    68    53
36    20    12    72    42    13
37    21    39    44    44    97
38    65    57    58    82    54
40    66    19    89    27    16
42     8    22    92    54     9
43    50     4    30    39    50
44    59    64    45    77    12
45    35    52     2    78    23
46    14     2    54    90    37
47    47    58    22    29     1
48    58    87    95    46    90
49    67    85    18    36    85

# Exercise 3

In [597]:
# Create two dataframe (first dataframe having 50 random data and second dataframe having 40 random data). Each dataframe should have 3 columns including a common column (example: id) and 90% of data in common column should have identical data

df2 = pd.DataFrame(np.random.randint(100, size=(50,2)), columns=['col1','col2'])
id2  = pd.Series(np.arange(50), name='id')

df2 = pd.concat([id2, df2], axis=1)
display(df2)

df3 = pd.DataFrame(np.random.randint(100, size=(40, 2)), columns=['col1','col2'])
id3  = pd.Series(np.arange(36), name='id')
other_id = pd.Series([51,52,53,54], name='id')
id3 = id3.append(other_id,ignore_index=True)

df3 = pd.concat([id3, df3], axis=1)
df3

    id  col1  col2
0    0    46    99
1    1    91    32
2    2    73     8
3    3    56    43
4    4    56    33
5    5    65    29
6    6    61    58
7    7    49    24
8    8     5    98
9    9    24    70
10  10    82    84
11  11     2    22
12  12    19    38
13  13    36    36
14  14    69    45
15  15    85    70
16  16    99    54
17  17    80    57
18  18    11    81
19  19    31    82
20  20    22    51
21  21     9    99
22  22    82    11
23  23    24    52
24  24    87    24
25  25    61    44
26  26    73    61
27  27     3    96
28  28    87    47
29  29    49    93
30  30     1    92
31  31    41    45
32  32    39    57
33  33    76    78
34  34    41    93
35  35    63    86
36  36    84    35
37  37    89     7
38  38    64     5
39  39     8    18
40  40    85    95
41  41    18    59
42  42     0    82
43  43    35    35
44  44     8    87
45  45    33    58
46  46    61    95
47  47    95    22
48  48    99    79
49  49    45    16

    id  col1  col2
0    0    78    63
1    1    51    25
2    2    23    16
3    3    95    42
4    4    77    92
5    5    95    74
6    6    21    66
7    7    72    17
8    8    40    72
9    9    35    46
10  10    23    51
11  11    42    73
12  12    47    81
13  13    14    61
14  14    72    43
15  15    50    63
16  16    49    26
17  17    94    98
18  18    68    92
19  19    40    28
20  20    99    68
21  21    17    93
22  22     0    89
23  23    92    75
24  24    83    37
25  25     9    57
26  26    11    50
27  27    65    45
28  28    70    91
29  29    29     0
30  30    11    33
31  31    40    13
32  32    29    30
33  33     4    13
34  34    10    83
35  35    42    84
36  51    18     9
37  52    81    11
38  53    96    35
39  54     0    17

In [598]:
# Merge both the dataframe using:
# Inner
inner_merge = df2.merge(df3, how='inner', on='id')
inner_merge

    id  col1_x  col2_x  col1_y  col2_y
0    0      46      99      78      63
1    1      91      32      51      25
2    2      73       8      23      16
3    3      56      43      95      42
4    4      56      33      77      92
5    5      65      29      95      74
6    6      61      58      21      66
7    7      49      24      72      17
8    8       5      98      40      72
9    9      24      70      35      46
10  10      82      84      23      51
11  11       2      22      42      73
12  12      19      38      47      81
13  13      36      36      14      61
14  14      69      45      72      43
15  15      85      70      50      63
16  16      99      54      49      26
17  17      80      57      94      98
18  18      11      81      68      92
19  19      31      82      40      28
20  20      22      51      99      68
21  21       9      99      17      93
22  22      82      11       0      89
23  23      24      52      92      75
24  24      87      24      83      37
25  25      61      44       9      57
26  26      73      61      11      50
27  27       3      96      65      45
28  28      87      47      70      91
29  29      49      93      29       0
30  30       1      92      11      33
31  31      41      45      40      13
32  32      39      57      29      30
33  33      76      78       4      13
34  34      41      93      10      83
35  35      63      86      42      84

In [599]:
# Outer
outer_merge = df2.merge(df3, how='outer', on='id')
outer_merge

    id  col1_x  col2_x  col1_y  col2_y
0    0    46.0    99.0    78.0    63.0
1    1    91.0    32.0    51.0    25.0
2    2    73.0     8.0    23.0    16.0
3    3    56.0    43.0    95.0    42.0
4    4    56.0    33.0    77.0    92.0
5    5    65.0    29.0    95.0    74.0
6    6    61.0    58.0    21.0    66.0
7    7    49.0    24.0    72.0    17.0
8    8     5.0    98.0    40.0    72.0
9    9    24.0    70.0    35.0    46.0
10  10    82.0    84.0    23.0    51.0
11  11     2.0    22.0    42.0    73.0
12  12    19.0    38.0    47.0    81.0
13  13    36.0    36.0    14.0    61.0
14  14    69.0    45.0    72.0    43.0
15  15    85.0    70.0    50.0    63.0
16  16    99.0    54.0    49.0    26.0
17  17    80.0    57.0    94.0    98.0
18  18    11.0    81.0    68.0    92.0
19  19    31.0    82.0    40.0    28.0
20  20    22.0    51.0    99.0    68.0
21  21     9.0    99.0    17.0    93.0
22  22    82.0    11.0     0.0    89.0
23  23    24.0    52.0    92.0    75.0
24  24    87.0    24.0    83.0    37.0
25  25    61.0    44.0     9.0    57.0
26  26    73.0    61.0    11.0    50.0
27  27     3.0    96.0    65.0    45.0
28  28    87.0    47.0    70.0    91.0
29  29    49.0    93.0    29.0     0.0
30  30     1.0    92.0    11.0    33.0
31  31    41.0    45.0    40.0    13.0
32  32    39.0    57.0    29.0    30.0
33  33    76.0    78.0     4.0    13.0
34  34    41.0    93.0    10.0    83.0
35  35    63.0    86.0    42.0    84.0
36  36    84.0    35.0     NaN     NaN
37  37    89.0     7.0     NaN     NaN
38  38    64.0     5.0     NaN     NaN
39  39     8.0    18.0     NaN     NaN
40  40    85.0    95.0     NaN     NaN
41  41    18.0    59.0     NaN     NaN
42  42     0.0    82.0     NaN     NaN
43  43    35.0    35.0     NaN     NaN
44  44     8.0    87.0     NaN     NaN
45  45    33.0    58.0     NaN     NaN
46  46    61.0    95.0     NaN     NaN
47  47    95.0    22.0     NaN     NaN
48  48    99.0    79.0     NaN     NaN
49  49    45.0    16.0     NaN     NaN
50  51     NaN     NaN    18.0     9.0
51  52     NaN     NaN    81.0    11.0
52  53     NaN     NaN    96.0    35.0
53  54     NaN     NaN     0.0    17.0

In [600]:
# Left
left_merge = df2.merge(df3, how='left', on='id')
left_merge

    id  col1_x  col2_x  col1_y  col2_y
0    0      46      99    78.0    63.0
1    1      91      32    51.0    25.0
2    2      73       8    23.0    16.0
3    3      56      43    95.0    42.0
4    4      56      33    77.0    92.0
5    5      65      29    95.0    74.0
6    6      61      58    21.0    66.0
7    7      49      24    72.0    17.0
8    8       5      98    40.0    72.0
9    9      24      70    35.0    46.0
10  10      82      84    23.0    51.0
11  11       2      22    42.0    73.0
12  12      19      38    47.0    81.0
13  13      36      36    14.0    61.0
14  14      69      45    72.0    43.0
15  15      85      70    50.0    63.0
16  16      99      54    49.0    26.0
17  17      80      57    94.0    98.0
18  18      11      81    68.0    92.0
19  19      31      82    40.0    28.0
20  20      22      51    99.0    68.0
21  21       9      99    17.0    93.0
22  22      82      11     0.0    89.0
23  23      24      52    92.0    75.0
24  24      87      24    83.0    37.0
25  25      61      44     9.0    57.0
26  26      73      61    11.0    50.0
27  27       3      96    65.0    45.0
28  28      87      47    70.0    91.0
29  29      49      93    29.0     0.0
30  30       1      92    11.0    33.0
31  31      41      45    40.0    13.0
32  32      39      57    29.0    30.0
33  33      76      78     4.0    13.0
34  34      41      93    10.0    83.0
35  35      63      86    42.0    84.0
36  36      84      35     NaN     NaN
37  37      89       7     NaN     NaN
38  38      64       5     NaN     NaN
39  39       8      18     NaN     NaN
40  40      85      95     NaN     NaN
41  41      18      59     NaN     NaN
42  42       0      82     NaN     NaN
43  43      35      35     NaN     NaN
44  44       8      87     NaN     NaN
45  45      33      58     NaN     NaN
46  46      61      95     NaN     NaN
47  47      95      22     NaN     NaN
48  48      99      79     NaN     NaN
49  49      45      16     NaN     NaN

In [601]:
# Right
right_merge = df2.merge(df3, how='right', on='id')
right_merge

    id  col1_x  col2_x  col1_y  col2_y
0    0    46.0    99.0      78      63
1    1    91.0    32.0      51      25
2    2    73.0     8.0      23      16
3    3    56.0    43.0      95      42
4    4    56.0    33.0      77      92
5    5    65.0    29.0      95      74
6    6    61.0    58.0      21      66
7    7    49.0    24.0      72      17
8    8     5.0    98.0      40      72
9    9    24.0    70.0      35      46
10  10    82.0    84.0      23      51
11  11     2.0    22.0      42      73
12  12    19.0    38.0      47      81
13  13    36.0    36.0      14      61
14  14    69.0    45.0      72      43
15  15    85.0    70.0      50      63
16  16    99.0    54.0      49      26
17  17    80.0    57.0      94      98
18  18    11.0    81.0      68      92
19  19    31.0    82.0      40      28
20  20    22.0    51.0      99      68
21  21     9.0    99.0      17      93
22  22    82.0    11.0       0      89
23  23    24.0    52.0      92      75
24  24    87.0    24.0      83      37
25  25    61.0    44.0       9      57
26  26    73.0    61.0      11      50
27  27     3.0    96.0      65      45
28  28    87.0    47.0      70      91
29  29    49.0    93.0      29       0
30  30     1.0    92.0      11      33
31  31    41.0    45.0      40      13
32  32    39.0    57.0      29      30
33  33    76.0    78.0       4      13
34  34    41.0    93.0      10      83
35  35    63.0    86.0      42      84
36  51     NaN     NaN      18       9
37  52     NaN     NaN      81      11
38  53     NaN     NaN      96      35
39  54     NaN     NaN       0      17

Evaluate the differences observed 

Inner: gives intersection

Outer: gives union

Left: gives data till index of left 

Right: gives data till index of right

In [602]:
# Use join() to combine the dataframe
joined = df2.join(df3,on="id", rsuffix='-r', how='outer')
joined

    id  col1  col2  id-r  col1-r  col2-r
0    0    46    99   0.0    78.0    63.0
1    1    91    32   1.0    51.0    25.0
2    2    73     8   2.0    23.0    16.0
3    3    56    43   3.0    95.0    42.0
4    4    56    33   4.0    77.0    92.0
5    5    65    29   5.0    95.0    74.0
6    6    61    58   6.0    21.0    66.0
7    7    49    24   7.0    72.0    17.0
8    8     5    98   8.0    40.0    72.0
9    9    24    70   9.0    35.0    46.0
10  10    82    84  10.0    23.0    51.0
11  11     2    22  11.0    42.0    73.0
12  12    19    38  12.0    47.0    81.0
13  13    36    36  13.0    14.0    61.0
14  14    69    45  14.0    72.0    43.0
15  15    85    70  15.0    50.0    63.0
16  16    99    54  16.0    49.0    26.0
17  17    80    57  17.0    94.0    98.0
18  18    11    81  18.0    68.0    92.0
19  19    31    82  19.0    40.0    28.0
20  20    22    51  20.0    99.0    68.0
21  21     9    99  21.0    17.0    93.0
22  22    82    11  22.0     0.0    89.0
23  23    24    52  23.0    92.0    75.0
24  24    87    24  24.0    83.0    37.0
25  25    61    44  25.0     9.0    57.0
26  26    73    61  26.0    11.0    50.0
27  27     3    96  27.0    65.0    45.0
28  28    87    47  28.0    70.0    91.0
29  29    49    93  29.0    29.0     0.0
30  30     1    92  30.0    11.0    33.0
31  31    41    45  31.0    40.0    13.0
32  32    39    57  32.0    29.0    30.0
33  33    76    78  33.0     4.0    13.0
34  34    41    93  34.0    10.0    83.0
35  35    63    86  35.0    42.0    84.0
36  36    84    35  51.0    18.0     9.0
37  37    89     7  52.0    81.0    11.0
38  38    64     5  53.0    96.0    35.0
39  39     8    18  54.0     0.0    17.0
40  40    85    95   NaN     NaN     NaN
41  41    18    59   NaN     NaN     NaN
42  42     0    82   NaN     NaN     NaN
43  43    35    35   NaN     NaN     NaN
44  44     8    87   NaN     NaN     NaN
45  45    33    58   NaN     NaN     NaN
46  46    61    95   NaN     NaN     NaN
47  47    95    22   NaN     NaN     NaN
48  48    99    79   NaN     NaN     NaN
49  49    45    16   NaN     NaN     NaN

In [603]:
concated = pd.concat([df2, df3],ignore_index=True)
concated

    id  col1  col2
0    0    46    99
1    1    91    32
2    2    73     8
3    3    56    43
4    4    56    33
..  ..   ...   ...
85  35    42    84
86  51    18     9
87  52    81    11
88  53    96    35
89  54     0    17

[90 rows x 3 columns]

Evaluate the differences observed between merge, join and concat


Merge: allows to merge dataframes based on an index or a column

Join: allows to join dataframes based index

Concat: allows to append datas to existing dataframe or to concat dataframes

# Exercise 4

In [604]:
# Create a dataframe having 3 columns: name, nationality, age
names = pd.Series(['Ram', 'Hari', 'Sita','Rohan'])
age = pd.Series([20,30,45,25])
nationality = pd.Series(['Nepal','India','China','USA'])
df4 = pd.DataFrame({'Name':names,'Age':age,'Nationality':nationality})
df4

    Name  Age Nationality
0    Ram   20       Nepal
1   Hari   30       India
2   Sita   45       China
3  Rohan   25         USA

In [605]:
# Use filter() to get all data of column name and age
filter_name_age = df4.filter(items=['Name', 'Age'])
filter_name_age

    Name  Age
0    Ram   20
1   Hari   30
2   Sita   45
3  Rohan   25

In [606]:
# Retrieve all the data of the column starting with “na”
filter_Na = df4.filter(regex='^(Na)')
filter_Na

    Name Nationality
0    Ram       Nepal
1   Hari       India
2   Sita       China
3  Rohan         USA

In [608]:
# Retrieve all the data of the column ending with “e”
filter_endwith_e = df4.filter(regex='(e)$')
filter_endwith_e

    Name  Age
0    Ram   20
1   Hari   30
2   Sita   45
3  Rohan   25

In [609]:
# Retrieve all the data of the column having subset “am” 
filter_contain_am = df4.filter(like='am')
filter_contain_am

    Name
0    Ram
1   Hari
2   Sita
3  Rohan

# Exercise 5

In [610]:
# Read the dataset as pandas dataframe
df5 = pd.read_csv('dataset.csv')
df5.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,51526,2191,41727,0.0,Afghanistan,0.000000,4.252222
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501.0,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740.0,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570.0,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017.0,Angola,53.452981,2.305328
5,NaN,NaN,NaN,Antigua and Barbuda,2021-01-02 05:22:33,17.06080,-61.796400,159,5,148,6.0,Antigua and Barbuda,162.364186,3.144654
6,NaN,NaN,NaN,Argentina,2021-01-02 05:22:33,-38.41610,-63.616700,1629594,43319,1426676,159599.0,Argentina,3605.633332,2.658269
7,NaN,NaN,NaN,Armenia,2021-01-02 05:22:33,40.06910,45.038200,159738,2828,143355,13555.0,Armenia,5390.664389,1.770399
8,NaN,NaN,Australian Capital Territory,Australia,2021-01-02 05:22:33,-35.47350,149.012400,118,3,114,1.0,"Australian Capital Territory, Australia",27.563653,2.542373
9,NaN,NaN,New South Wales,Australia,2021-01-02 05:22:33,-33.86880,151.209300,4947,54,0,1696.0,"New South Wales, Australia",60.938655,1.091571

In [611]:
# Filter the Country_Region whose value == “India” and assign it in dataframe df_india
df_india = df5[df5['Country_Region']=='India']
display(df_india)

# Retrieve the active cases of “Madhya Pradesh” Province from df_india
df_madhya_pradesh = df_india[df_india['Province_State']=='Madhya Pradesh'].Active
display(df_madhya_pradesh)
print("Active Cases in Madhya Pradesh",df_madhya_pradesh.values[0])

# Retrieve the state with the maximum number of confirmed cases from df_india.
id = df_india['Confirmed'].idxmax()
max_cases_india_state = df_india.loc[id].Province_State
print("Maximum Confirmed Cases in state:",max_cases_india_state)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
247,NaN,NaN,Andaman and Nicobar Islands,India,2021-01-02 05:22:33,11.225999,92.968178,4945,62,4826,57.0,"Andaman and Nicobar Islands, India",1185.748952,1.253792
248,NaN,NaN,Andhra Pradesh,India,2021-01-02 05:22:33,15.912900,79.740000,882286,7108,871916,3262.0,"Andhra Pradesh, India",1636.791213,0.805634
249,NaN,NaN,Arunachal Pradesh,India,2021-01-02 05:22:33,27.768456,96.384277,16719,56,16564,99.0,"Arunachal Pradesh, India",1064.593896,0.334948
250,NaN,NaN,Assam,India,2021-01-02 05:22:33,26.357149,92.830441,216211,1045,211910,3256.0,"Assam, India",607.214208,0.483324
251,NaN,NaN,Bihar,India,2021-01-02 05:22:33,25.679658,85.604840,251743,1397,245476,4870.0,"Bihar, India",201.717267,0.554931
252,NaN,NaN,Chandigarh,India,2021-01-02 05:22:33,30.733839,76.768278,19748,317,19045,386.0,"Chandigarh, India",1704.657769,1.605226
253,NaN,NaN,Chhattisgarh,India,2021-01-02 05:22:33,21.264705,82.035366,279575,3371,264769,11435.0,"Chhattisgarh, India",949.764934,1.205759
254,NaN,NaN,Dadra and Nagar Haveli and Daman and Diu,India,2021-01-02 05:22:33,20.194742,73.080901,3378,2,3365,11.0,"Dadra and Nagar Haveli and Daman and Diu, India",548.622435,0.059207
255,NaN,NaN,Delhi,India,2021-01-02 05:22:33,28.646519,77.108980,625369,10536,609322,5511.0,"Delhi, India",3342.267153,1.684765
256,NaN,NaN,Goa,India,2021-01-02 05:22:33,15.359682,74.057396,51066,739,49388,939.0,"Goa, India",3219.290780,1.447147
257,NaN,NaN,Gujarat,India,2021-01-02 05:22:33,22.694884,71.590923,245038,4306,230893,9839.0,"Gujarat, India",383.636757,1.757278
258,NaN,NaN,Haryana,India,2021-01-02 05:22:33,29.200040,76.332824,262325,2905,255853,3567.0,"Haryana, India",930.075748,1.107405
259,NaN,NaN,Himachal Pradesh,India,2021-01-02 05:22:33,31.927213,77.233081,55277,934,51728,2615.0,"Himachal Pradesh, India",741.778500,1.689672
260,NaN,NaN,Jammu and Kashmir,India,2021-01-02 05:22:33,33.759430,76.612638,120971,1883,116079,3009.0,"Jammu and Kashmir, India",889.079487,1.556571
261,NaN,NaN,Jharkhand,India,2021-01-02 05:22:33,23.654536,85.557631,115113,1030,112424,1659.0,"Jharkhand, India",298.266972,0.894773
262,NaN,NaN,Karnataka,India,2021-01-02 05:22:33,14.705180,76.166436,919496,12090,896116,11290.0,"Karnataka, India",1360.952405,1.314851
263,NaN,NaN,Kerala,India,2021-01-02 05:22:33,10.450898,76.405749,760933,3072,692480,65381.0,"Kerala, India",2131.498242,0.403715
264,NaN,NaN,Ladakh,India,2021-01-02 05:22:33,34.152600,77.577100,9466,127,9144,195.0,"Ladakh, India",3451.104492,1.341644
265,NaN,NaN,Lakshadweep,India,2021-01-02 05:22:33,13.699997,72.183333,0,0,0,0.0,"Lakshadweep, India",0.000000,NaN
266,NaN,NaN,Madhya Pradesh,India,2021-01-02 05:22:33,23.541513,78.289633,241791,3606,228831,9354.0,"Madhya Pradesh, India",283.263744,1.491371
267,NaN,NaN,Maharashtra,India,2021-01-02 05:22:33,19.449759,76.108221,1932112,49521,1828546,54045.0,"Maharashtra, India",1568.983061,2.563050
268,NaN,NaN,Manipur,India,2021-01-02 05:22:33,24.738975,93.882541,28188,355,26678,1155.0,"Manipur, India",911.777121,1.259401
269,NaN,NaN,Meghalaya,India,2021-01-02 05:22:33,25.536934,91.278882,13427,139,13139,149.0,"Meghalaya, India",398.816649,1.035228
270,NaN,NaN,Mizoram,India,2021-01-02 05:22:33,23.309381,92.838220,4216,8,4098,110.0,"Mizoram, India",340.207417,0.189753
271,NaN,NaN,Nagaland,India,2021-01-02 05:22:33,26.067020,94.470302,11927,79,11646,202.0,"Nagaland, India",530.160755,0.662363
272,NaN,NaN,Odisha,India,2021-01-02 05:22:33,20.505428,84.418059,329621,1873,325432,2316.0,"Odisha, India",711.059248,0.568228
273,NaN,NaN,Puducherry,India,2021-01-02 05:22:33,11.882658,78.864980,38132,633,37115,384.0,"Puducherry, India",2697.620587,1.660023
274,NaN,NaN,Punjab,India,2021-01-02 05:22:33,30.841465,75.408790,166522,5341,157496,3685.0,"Punjab, India",552.469856,3.207384
275,NaN,NaN,Rajasthan,India,2021-01-02 05:22:33,26.583423,73.847973,308243,2696,295987,9560.0,"Rajasthan, India",380.393399,0.874635
276,NaN,NaN,Sikkim,India,2021-01-02 05:22:33,27.571671,88.472712,5889,127,5233,529.0,"Sikkim, India",853.167906,2.156563
277,NaN,NaN,Tamil Nadu,India,2021-01-02 05:22:33,11.006091,78.400624,818014,12122,797391,8501.0,"Tamil Nadu, India",1050.874467,1.481882
278,NaN,NaN,Telangana,India,2021-01-02 05:22:33,18.112400,79.019300,286815,1544,279456,5815.0,"Telangana, India",728.646071,0.538326
279,NaN,NaN,Tripura,India,2021-01-02 05:22:33,23.746783,91.743565,33268,385,32779,104.0,"Tripura, India",797.833178,1.157268
280,NaN,NaN,Unknown,India,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Unknown, India",NaN,NaN
281,NaN,NaN,Uttar Pradesh,India,2021-01-02 05:22:33,26.925425,80.560982,585902,8364,563278,14260.0,"Uttar Pradesh, India",246.298675,1.427542
282,NaN,NaN,Uttarakhand,India,2021-01-02 05:22:33,30.156447,79.197608,90920,1509,84692,4719.0,"Uttarakhand, India",808.116145,1.659701
283,NaN,NaN,West Bengal,India,2021-01-02 05:22:33,23.814082,87.979803,552063,9712,530366,11985.0,"West Bengal, India",554.228354,1.759220

266    9354.0
Name: Active, dtype: float64

Active Cases in Madhya Pradesh 9354.0
Maximum Confirmed Cases in state: Maharashtra

In [612]:
# Filter the Country_Region whose value == “Canada” and assign it in dataframe df_canada.
df_canada = df5[df5['Country_Region']=='Canada']
display(df_canada)

# Province/State Diamond Princess  has the “NaN” value for Active number of cases. Fill it with the median of the Active cases.
df_canada.at[df_canada.Province_State=="Diamond Princess", 'Active'] = df_canada.Active.median()
df_canada

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
76,NaN,NaN,Alberta,Canada,2021-01-02 05:22:33,53.9333,-116.5765,100428,1046,84827,14555.0,"Alberta, Canada",2275.655507,1.041542
77,NaN,NaN,British Columbia,Canada,2021-01-02 05:22:33,53.7267,-127.6476,51990,901,42127,8962.0,"British Columbia, Canada",1017.234285,1.733026
78,NaN,NaN,Diamond Princess,Canada,2020-12-21 13:27:30,NaN,NaN,0,1,0,NaN,"Diamond Princess, Canada",NaN,NaN
79,NaN,NaN,Grand Princess,Canada,2020-12-21 13:27:30,NaN,NaN,13,0,13,0.0,"Grand Princess, Canada",NaN,0.000000
80,NaN,NaN,Manitoba,Canada,2021-01-02 05:22:33,53.7609,-98.8139,24700,667,19528,4505.0,"Manitoba, Canada",1793.081320,2.700405
81,NaN,NaN,New Brunswick,Canada,2021-01-02 05:22:33,46.5653,-66.4619,601,9,567,25.0,"New Brunswick, Canada",77.051974,1.497504
82,NaN,NaN,Newfoundland and Labrador,Canada,2021-01-02 05:22:33,53.1355,-57.6604,390,4,366,20.0,"Newfoundland and Labrador, Canada",74.803640,1.025641
83,NaN,NaN,Northwest Territories,Canada,2021-01-02 05:22:33,64.8255,-124.8457,24,0,24,0.0,"Northwest Territories,Canada",53.447354,0.000000
84,NaN,NaN,Nova Scotia,Canada,2021-01-02 05:22:33,44.6820,-63.7443,1486,65,1399,22.0,"Nova Scotia, Canada",152.027148,4.374159
85,NaN,NaN,Nunavut,Canada,2021-01-02 05:22:33,70.2998,-83.1076,266,1,262,3.0,"Nunavut, Canada",685.920578,0.375940
86,NaN,NaN,Ontario,Canada,2021-01-02 05:22:33,51.2538,-85.3232,187344,4568,162622,20154.0,"Ontario, Canada",1273.424436,2.438295
87,NaN,NaN,Prince Edward Island,Canada,2021-01-02 05:22:33,46.5107,-63.4168,94,0,89,5.0,"Prince Edward Island, Canada",59.434237,0.000000
88,NaN,NaN,Quebec,Canada,2021-01-02 05:22:33,52.9399,-73.5491,202641,8388,170045,24370.0,"Quebec, Canada",2373.491890,4.059396
89,NaN,NaN,Repatriated Travellers,Canada,2021-01-02 05:22:33,NaN,NaN,13,0,13,0.0,"Repatriated Travellers, Canada",NaN,0.000000
90,NaN,NaN,Saskatchewan,Canada,2021-01-02 05:22:33,52.9399,-106.4509,15350,155,12496,2699.0,"Saskatchewan, Canada",1299.013427,1.009772
91,NaN,NaN,Yukon,Canada,2021-01-02 05:22:33,64.2823,-135.0000,60,1,59,0.0,"Yukon, Canada",146.063586,1.666667

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
76,NaN,NaN,Alberta,Canada,2021-01-02 05:22:33,53.9333,-116.5765,100428,1046,84827,14555.0,"Alberta, Canada",2275.655507,1.041542
77,NaN,NaN,British Columbia,Canada,2021-01-02 05:22:33,53.7267,-127.6476,51990,901,42127,8962.0,"British Columbia, Canada",1017.234285,1.733026
78,NaN,NaN,Diamond Princess,Canada,2020-12-21 13:27:30,NaN,NaN,0,1,0,22.0,"Diamond Princess, Canada",NaN,NaN
79,NaN,NaN,Grand Princess,Canada,2020-12-21 13:27:30,NaN,NaN,13,0,13,0.0,"Grand Princess, Canada",NaN,0.000000
80,NaN,NaN,Manitoba,Canada,2021-01-02 05:22:33,53.7609,-98.8139,24700,667,19528,4505.0,"Manitoba, Canada",1793.081320,2.700405
81,NaN,NaN,New Brunswick,Canada,2021-01-02 05:22:33,46.5653,-66.4619,601,9,567,25.0,"New Brunswick, Canada",77.051974,1.497504
82,NaN,NaN,Newfoundland and Labrador,Canada,2021-01-02 05:22:33,53.1355,-57.6604,390,4,366,20.0,"Newfoundland and Labrador, Canada",74.803640,1.025641
83,NaN,NaN,Northwest Territories,Canada,2021-01-02 05:22:33,64.8255,-124.8457,24,0,24,0.0,"Northwest Territories,Canada",53.447354,0.000000
84,NaN,NaN,Nova Scotia,Canada,2021-01-02 05:22:33,44.6820,-63.7443,1486,65,1399,22.0,"Nova Scotia, Canada",152.027148,4.374159
85,NaN,NaN,Nunavut,Canada,2021-01-02 05:22:33,70.2998,-83.1076,266,1,262,3.0,"Nunavut, Canada",685.920578,0.375940
86,NaN,NaN,Ontario,Canada,2021-01-02 05:22:33,51.2538,-85.3232,187344,4568,162622,20154.0,"Ontario, Canada",1273.424436,2.438295
87,NaN,NaN,Prince Edward Island,Canada,2021-01-02 05:22:33,46.5107,-63.4168,94,0,89,5.0,"Prince Edward Island, Canada",59.434237,0.000000
88,NaN,NaN,Quebec,Canada,2021-01-02 05:22:33,52.9399,-73.5491,202641,8388,170045,24370.0,"Quebec, Canada",2373.491890,4.059396
89,NaN,NaN,Repatriated Travellers,Canada,2021-01-02 05:22:33,NaN,NaN,13,0,13,0.0,"Repatriated Travellers, Canada",NaN,0.000000
90,NaN,NaN,Saskatchewan,Canada,2021-01-02 05:22:33,52.9399,-106.4509,15350,155,12496,2699.0,"Saskatchewan, Canada",1299.013427,1.009772
91,NaN,NaN,Yukon,Canada,2021-01-02 05:22:33,64.2823,-135.0000,60,1,59,0.0,"Yukon, Canada",146.063586,1.666667

In [615]:
# Filter the Country_Region whose value == “US” and assign it in dataframe df_us.
df_us = df5[df5['Country_Region']=='US']
df_us

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2021-01-02 05:22:33,32.539527,-86.644082,4239,50,0,4189.0,"Autauga, Alabama, US",7587.391935,1.179523
650,1003.0,Baldwin,Alabama,US,2021-01-02 05:22:33,30.727750,-87.722071,13823,169,0,13654.0,"Baldwin, Alabama, US",6192.157109,1.222600
651,1005.0,Barbour,Alabama,US,2021-01-02 05:22:33,31.868263,-85.387129,1517,33,0,1484.0,"Barbour, Alabama, US",6145.183505,2.175346
652,1007.0,Bibb,Alabama,US,2021-01-02 05:22:33,32.996421,-87.125115,1854,46,0,1808.0,"Bibb, Alabama, US",8279.003304,2.481122
653,1009.0,Blount,Alabama,US,2021-01-02 05:22:33,33.982109,-86.567906,4693,63,0,4630.0,"Blount, Alabama, US",8115.726490,1.342425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3920,90056.0,Unassigned,Wyoming,US,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Unassigned, Wyoming, US",NaN,NaN
3921,56043.0,Washakie,Wyoming,US,2021-01-02 05:22:33,43.904516,-107.680187,781,19,0,762.0,"Washakie, Wyoming, US",10006.406150,2.432778
3922,56045.0,Weston,Wyoming,US,2021-01-02 05:22:33,43.839612,-104.567488,476,2,0,474.0,"Weston, Wyoming, US",6871.661614,0.420168
3977,2066.0,Copper River,Alaska,US,2021-04-02 15:13:53,60.388600,-162.890520,157,0,0,0.0,"Copper River, Alaska, US",NaN,NaN
3978,2063.0,Chugach,Alaska,US,2021-04-02 15:13:53,61.166660,-149.900000,221,3,0,0.0,"Chugach, Alaska, US",NaN,NaN

In [616]:
# Groupby the df_us dataframe by ‘State_Province’ and aggregate with maximum values of the attributes and assign it in df_us_states.

df_us_states = df_us.groupby('Province_State').max()
df_us_states

,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Province_State,,,,,,,,,,,,,
Alabama,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
Alaska,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
Arizona,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
Arkansas,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
California,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606
Colorado,90008.0,Yuma,US,2021-01-02 05:22:33,40.875954,-102.351923,48023,669,0,47354.0,"Yuma, Colorado, US",27388.219766,6.521739
Connecticut,90009.0,Windham,US,2021-01-02 05:22:33,41.858538,-71.981823,56288,1852,0,54568.0,"Windham, Connecticut, US",5966.934229,3.967438
Delaware,90010.0,Unassigned,US,2021-01-02 05:22:33,39.579926,-75.390313,33433,541,0,32969.0,"Unassigned, Delaware, US",6474.970648,1.964922
Diamond Princess,88888.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,49,0,0,49.0,"Diamond Princess, US",NaN,0.000000
District of Columbia,11001.0,District of Columbia,US,2021-01-02 05:22:33,38.904178,-77.016560,29252,788,0,28464.0,"District of Columbia, District of Columbia ,US",4144.816358,2.693833
Florida,90012.0,Washington,US,2021-01-02 05:22:33,30.867475,-80.431098,298873,4188,0,294685.0,"Washington, Florida, US",16884.350511,4.517026
Georgia,90013.0,Worth,US,2021-01-02 05:22:33,34.913692,-81.124895,58565,790,0,57961.0,"Worth, Georgia, US",20243.880077,7.276995
Grand Princess,99999.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,103,3,0,100.0,"Grand Princess, US",NaN,2.912621
Guam,66.0,NaN,US,2021-01-02 05:22:33,13.444300,144.793700,7326,122,0,7204.0,"Guam, US",4460.844309,1.665302
Hawaii,90015.0,Unassigned,US,2021-01-02 05:22:33,22.039350,-155.521017,18235,224,0,18011.0,"Unassigned, Hawaii, US",1871.095045,2.341311
Idaho,90016.0,Washington,US,2021-01-02 05:22:33,48.766848,-111.205677,38262,355,0,37907.0,"Washington, Idaho, US",13150.575087,3.095238
Illinois,90017.0,Woodford,US,2021-01-02 05:22:33,42.365424,-87.728840,393652,7860,0,385367.0,"Woodford, Illinois, US",13056.721824,4.454343
Indiana,90018.0,Whitley,US,2021-01-02 05:22:33,41.644239,-84.924971,71487,1300,0,70331.0,"Whitley, Indiana, US",11260.580010,3.846154
Iowa,90019.0,Wright,US,2021-01-02 05:22:33,43.381079,-90.532751,41670,412,0,41258.0,"Wright, Iowa, US",18995.922528,5.468750
Kansas,90020.0,Wyandotte,US,2021-01-02 05:22:33,39.827996,-94.763782,40608,454,0,40202.0,"Wyandotte, Kansas, US",22085.431822,5.970149
Kentucky,90021.0,Woodford,US,2021-01-02 05:22:33,38.970651,-82.394874,50804,530,0,50274.0,"Woodford, Kentucky, US",14088.882885,3.636364
Louisiana,90022.0,Winn,US,2021-01-02 05:22:33,32.831211,-89.518871,31498,679,0,30829.0,"Winn, Louisiana, US",13977.554292,4.492261
Maine,90023.0,York,US,2021-01-02 05:22:33,46.659263,-67.628135,7457,98,0,7359.0,"York, Maine, US",2527.770904,4.450262
Maryland,90024.0,Worcester,US,2021-01-02 05:22:33,39.623576,-75.332000,55139,1129,0,54050.0,"Worcester, Maryland, US",7773.801409,3.638814
Massachusetts,90025.0,Worcester,US,2021-01-02 05:22:33,42.668763,-70.288543,75615,2729,0,72886.0,"Worcester, Massachusetts, US",7405.130831,7.198748
Michigan,90026.0,Wexford,US,2021-01-02 05:22:33,47.631977,-82.679380,84941,3624,0,81317.0,"Wexford, Michigan, US",8613.653473,5.228758
Minnesota,90027.0,Yellow Medicine,US,2021-01-02 05:22:33,48.777541,-90.526295,86273,1382,0,84891.0,"Yellow Medicine, Minnesota, US",16320.680568,13.288288
Mississippi,90028.0,Yazoo,US,2021-01-02 05:22:33,34.880845,-88.239172,14885,272,0,14746.0,"Yazoo, Mississippi, US",11454.408440,4.809287
Missouri,90029.0,Wright,US,2021-01-02 05:22:33,40.479456,-89.295058,69480,1391,0,68089.0,"Wright, Missouri, US",10855.641320,4.402516
Montana,90030.0,Yellowstone,US,2021-01-02 05:22:33,48.784200,-104.251093,13847,161,0,13686.0,"Yellowstone, Montana, US",15391.545912,10.000000
Nebraska,90031.0,York,US,2021-01-02 05:22:33,42.899727,-95.717550,53581,515,0,53066.0,"York, Nebraska, US",17502.247079,13.043478
Nevada,90032.0,White Pine,US,2021-01-02 05:22:33,41.406922,-114.879039,171850,2384,0,169466.0,"White Pine, Nevada, US",12371.747212,3.030303
New Hampshire,90033.0,Unassigned,US,2021-01-02 05:22:33,44.690633,-71.023360,17624,435,0,17189.0,"Unassigned, New Hampshire, US",4226.125532,2.468225
New Jersey,90034.0,Warren,US,2021-01-02 05:22:33,41.138916,-74.071643,52473,2399,0,45300.0,"Warren, New Jersey, US",8002.973142,5.679934
New Mexico,90035.0,Valencia,US,2021-01-02 05:22:33,36.605697,-103.346888,41121,573,0,40548.0,"Valencia, New Mexico, US",13845.334678,6.529851
New York,90036.0,Yates,US,2021-01-02 05:22:33,44.745309,-72.801217,127132,7745,0,119554.0,"Yates, New York, US",8523.308031,271.875000
North Carolina,90037.0,Yancey,US,2021-01-02 05:22:33,36.493609,-75.717673,62454,554,0,61900.0,"Yancey, North Carolina, US",7731.658560,3.931204
North Dakota,90038.0,Williams,US,2021-01-02 05:22:33,48.814939,-96.948530,19929,176,0,19760.0,"Williams, North Dakota, US",18058.592042,4.624277
Northern Mariana Islands,69.0,NaN,US,2021-01-02 05:22:33,15.097900,145.673900,122,2,0,120.0,"Northern Mariana Islands, US",221.238938,1.639344
Ohio,90039.0,Wyandot,US,2021-01-02 05:22:33,41.708603,-80.748302,84050,1511,0,83352.0,"Wyandot, Ohio, US",10498.315001,4.037267
Oklahoma,90040.0,Woodward,US,2021-01-02 05:22:33,36.835327,-94.658593,57993,441,0,57552.0,"Woodward, Oklahoma, US",16345.142055,2.374670
Oregon,90041.0,Yamhill,US,2021-01-02 05:22:33,45.997129,-117.183538,25290,390,0,24900.0,"Yamhill, Oregon, US",9466.487848,5.882353
Pennsylvania,90042.0,York,US,2021-01-02 05:22:33,41.992538,-75.032081,93885,2450,0,91435.0,"York, Pennsylvania, US",7503.576228,4.643351
Puerto Rico,72999.0,Yauco,US,2021-01-02 05:22:33,18.459681,-65.288130,11063,1521,0,11063.0,"Yauco, Puerto Rico, US",3474.112944,63.988220
Recovered,NaN,NaN,US,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Recovered, US",NaN,NaN
Rhode Island,90044.0,Washington,US,2021-01-02 05:22:33,41.870647,-71.265698,58946,1348,0,57598.0,"Washington, Rhode Island, US",9225.722339,2.543507
South Carolina,90045.0,York,US,2021-01-02 05:22:33,35.051223,-78.995553,37327,502,0,36825.0,"York, South Carolina, US",8041.202989,4.179728
South Dakota,90046.0,Ziebach,US,2021-01-02 05:22:33,45.770749,-96.655783,24977,264,0,24713.0,"Ziebach, South Dakota, US",21435.845214,5.791506
Tennessee,90047.0,Wilson,US,2021-01-02 05:22:33,36.556065,-81.848865,66562,903,0,65659.0,"Wilson, Tennessee, US",20068.415051,2.998236
Texas,90048.0,Zavala,US,2021-01-02 05:22:33,36.278291,-93.744088,239657,3417,0,236240.0,"Zavala, Texas, US",16739.666028,9.523810
Utah,90049.0,Weber-Morgan,US,2021-01-02 05:22:33,41.521068,-109.517442,107386,553,0,106833.0,"Weber-Morgan, Utah, US",10569.993792,2.275960
Vermont,90050.0,Windsor,US,2021-01-02 05:22:33,44.856276,-71.735799,2658,69,0,2589.0,"Windsor, Vermont, US",1622.968237,4.612546
Virgin Islands,78.0,NaN,US,2021-01-02 05:22:33,18.335800,-64.896300,2036,23,0,2013.0,"Virgin Islands, US",1898.049745,1.129666
Virginia,90051.0,York,US,2021-01-02 05:22:33,39.201726,-75.632346,44525,683,0,43842.0,"York, Virginia, US",13187.332598,7.211538
Washington,90053.0,Yakima,US,2021-01-02 05:22:33,48.822280,-117.202285,62580,1050,0,61530.0,"Yakima, Washington, US",9212.156855,4.761905
West Virginia,90054.0,Wyoming,US,2021-01-02 05:22:33,40.519439,-77.860141,8766,207,0,8559.0,"Wyoming, West Virginia, US",7897.871073,3.695652
Wisconsin,90055.0,Wood,US,2021-01-02 05:22:33,46.528688,-87.300027,92090,1003,0,91087.0,"Wood, Wisconsin, US",15759.438104,6.261860
Wyoming,90056.0,Weston,US,2021-01-02 05:22:33,44.790489,-104.353474,7045,92,0,6983.0,"Weston, Wyoming, US",10106.721683,2.664975

In [617]:
# Re-index the dataframe df_us_states.

df_us_states = df_us_states.set_index(np.arange(len(df_us_states.index)))
df_us_states

,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
1,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
2,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
3,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
4,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606
5,90008.0,Yuma,US,2021-01-02 05:22:33,40.875954,-102.351923,48023,669,0,47354.0,"Yuma, Colorado, US",27388.219766,6.521739
6,90009.0,Windham,US,2021-01-02 05:22:33,41.858538,-71.981823,56288,1852,0,54568.0,"Windham, Connecticut, US",5966.934229,3.967438
7,90010.0,Unassigned,US,2021-01-02 05:22:33,39.579926,-75.390313,33433,541,0,32969.0,"Unassigned, Delaware, US",6474.970648,1.964922
8,88888.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,49,0,0,49.0,"Diamond Princess, US",NaN,0.000000
9,11001.0,District of Columbia,US,2021-01-02 05:22:33,38.904178,-77.016560,29252,788,0,28464.0,"District of Columbia, District of Columbia ,US",4144.816358,2.693833
10,90012.0,Washington,US,2021-01-02 05:22:33,30.867475,-80.431098,298873,4188,0,294685.0,"Washington, Florida, US",16884.350511,4.517026
11,90013.0,Worth,US,2021-01-02 05:22:33,34.913692,-81.124895,58565,790,0,57961.0,"Worth, Georgia, US",20243.880077,7.276995
12,99999.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,103,3,0,100.0,"Grand Princess, US",NaN,2.912621
13,66.0,NaN,US,2021-01-02 05:22:33,13.444300,144.793700,7326,122,0,7204.0,"Guam, US",4460.844309,1.665302
14,90015.0,Unassigned,US,2021-01-02 05:22:33,22.039350,-155.521017,18235,224,0,18011.0,"Unassigned, Hawaii, US",1871.095045,2.341311
15,90016.0,Washington,US,2021-01-02 05:22:33,48.766848,-111.205677,38262,355,0,37907.0,"Washington, Idaho, US",13150.575087,3.095238
16,90017.0,Woodford,US,2021-01-02 05:22:33,42.365424,-87.728840,393652,7860,0,385367.0,"Woodford, Illinois, US",13056.721824,4.454343
17,90018.0,Whitley,US,2021-01-02 05:22:33,41.644239,-84.924971,71487,1300,0,70331.0,"Whitley, Indiana, US",11260.580010,3.846154
18,90019.0,Wright,US,2021-01-02 05:22:33,43.381079,-90.532751,41670,412,0,41258.0,"Wright, Iowa, US",18995.922528,5.468750
19,90020.0,Wyandotte,US,2021-01-02 05:22:33,39.827996,-94.763782,40608,454,0,40202.0,"Wyandotte, Kansas, US",22085.431822,5.970149
20,90021.0,Woodford,US,2021-01-02 05:22:33,38.970651,-82.394874,50804,530,0,50274.0,"Woodford, Kentucky, US",14088.882885,3.636364
21,90022.0,Winn,US,2021-01-02 05:22:33,32.831211,-89.518871,31498,679,0,30829.0,"Winn, Louisiana, US",13977.554292,4.492261
22,90023.0,York,US,2021-01-02 05:22:33,46.659263,-67.628135,7457,98,0,7359.0,"York, Maine, US",2527.770904,4.450262
23,90024.0,Worcester,US,2021-01-02 05:22:33,39.623576,-75.332000,55139,1129,0,54050.0,"Worcester, Maryland, US",7773.801409,3.638814
24,90025.0,Worcester,US,2021-01-02 05:22:33,42.668763,-70.288543,75615,2729,0,72886.0,"Worcester, Massachusetts, US",7405.130831,7.198748
25,90026.0,Wexford,US,2021-01-02 05:22:33,47.631977,-82.679380,84941,3624,0,81317.0,"Wexford, Michigan, US",8613.653473,5.228758
26,90027.0,Yellow Medicine,US,2021-01-02 05:22:33,48.777541,-90.526295,86273,1382,0,84891.0,"Yellow Medicine, Minnesota, US",16320.680568,13.288288
27,90028.0,Yazoo,US,2021-01-02 05:22:33,34.880845,-88.239172,14885,272,0,14746.0,"Yazoo, Mississippi, US",11454.408440,4.809287
28,90029.0,Wright,US,2021-01-02 05:22:33,40.479456,-89.295058,69480,1391,0,68089.0,"Wright, Missouri, US",10855.641320,4.402516
29,90030.0,Yellowstone,US,2021-01-02 05:22:33,48.784200,-104.251093,13847,161,0,13686.0,"Yellowstone, Montana, US",15391.545912,10.000000
30,90031.0,York,US,2021-01-02 05:22:33,42.899727,-95.717550,53581,515,0,53066.0,"York, Nebraska, US",17502.247079,13.043478
31,90032.0,White Pine,US,2021-01-02 05:22:33,41.406922,-114.879039,171850,2384,0,169466.0,"White Pine, Nevada, US",12371.747212,3.030303
32,90033.0,Unassigned,US,2021-01-02 05:22:33,44.690633,-71.023360,17624,435,0,17189.0,"Unassigned, New Hampshire, US",4226.125532,2.468225
33,90034.0,Warren,US,2021-01-02 05:22:33,41.138916,-74.071643,52473,2399,0,45300.0,"Warren, New Jersey, US",8002.973142,5.679934
34,90035.0,Valencia,US,2021-01-02 05:22:33,36.605697,-103.346888,41121,573,0,40548.0,"Valencia, New Mexico, US",13845.334678,6.529851
35,90036.0,Yates,US,2021-01-02 05:22:33,44.745309,-72.801217,127132,7745,0,119554.0,"Yates, New York, US",8523.308031,271.875000
36,90037.0,Yancey,US,2021-01-02 05:22:33,36.493609,-75.717673,62454,554,0,61900.0,"Yancey, North Carolina, US",7731.658560,3.931204
37,90038.0,Williams,US,2021-01-02 05:22:33,48.814939,-96.948530,19929,176,0,19760.0,"Williams, North Dakota, US",18058.592042,4.624277
38,69.0,NaN,US,2021-01-02 05:22:33,15.097900,145.673900,122,2,0,120.0,"Northern Mariana Islands, US",221.238938,1.639344
39,90039.0,Wyandot,US,2021-01-02 05:22:33,41.708603,-80.748302,84050,1511,0,83352.0,"Wyandot, Ohio, US",10498.315001,4.037267
40,90040.0,Woodward,US,2021-01-02 05:22:33,36.835327,-94.658593,57993,441,0,57552.0,"Woodward, Oklahoma, US",16345.142055,2.374670
41,90041.0,Yamhill,US,2021-01-02 05:22:33,45.997129,-117.183538,25290,390,0,24900.0,"Yamhill, Oregon, US",9466.487848,5.882353
42,90042.0,York,US,2021-01-02 05:22:33,41.992538,-75.032081,93885,2450,0,91435.0,"York, Pennsylvania, US",7503.576228,4.643351
43,72999.0,Yauco,US,2021-01-02 05:22:33,18.459681,-65.288130,11063,1521,0,11063.0,"Yauco, Puerto Rico, US",3474.112944,63.988220
44,NaN,NaN,US,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Recovered, US",NaN,NaN
45,90044.0,Washington,US,2021-01-02 05:22:33,41.870647,-71.265698,58946,1348,0,57598.0,"Washington, Rhode Island, US",9225.722339,2.543507
46,90045.0,York,US,2021-01-02 05:22:33,35.051223,-78.995553,37327,502,0,36825.0,"York, South Carolina, US",8041.202989,4.179728
47,90046.0,Ziebach,US,2021-01-02 05:22:33,45.770749,-96.655783,24977,264,0,24713.0,"Ziebach, South Dakota, US",21435.845214,5.791506
48,90047.0,Wilson,US,2021-01-02 05:22:33,36.556065,-81.848865,66562,903,0,65659.0,"Wilson, Tennessee, US",20068.415051,2.998236
49,90048.0,Zavala,US,2021-01-02 05:22:33,36.278291,-93.744088,239657,3417,0,236240.0,"Zavala, Texas, US",16739.666028,9.523810
50,90049.0,Weber-Morgan,US,2021-01-02 05:22:33,41.521068,-109.517442,107386,553,0,106833.0,"Weber-Morgan, Utah, US",10569.993792,2.275960
51,90050.0,Windsor,US,2021-01-02 05:22:33,44.856276,-71.735799,2658,69,0,2589.0,"Windsor, Vermont, US",1622.968237,4.612546
52,78.0,NaN,US,2021-01-02 05:22:33,18.335800,-64.896300,2036,23,0,2013.0,"Virgin Islands, US",1898.049745,1.129666
53,90051.0,York,US,2021-01-02 05:22:33,39.201726,-75.632346,44525,683,0,43842.0,"York, Virginia, US",13187.332598,7.211538
54,90053.0,Yakima,US,2021-01-02 05:22:33,48.822280,-117.202285,62580,1050,0,61530.0,"Yakima, Washington, US",9212.156855,4.761905
55,90054.0,Wyoming,US,2021-01-02 05:22:33,40.519439,-77.860141,8766,207,0,8559.0,"Wyoming, West Virginia, US",7897.871073,3.695652
56,90055.0,Wood,US,2021-01-02 05:22:33,46.528688,-87.300027,92090,1003,0,91087.0,"Wood, Wisconsin, US",15759.438104,6.261860
57,90056.0,Weston,US,2021-01-02 05:22:33,44.790489,-104.353474,7045,92,0,6983.0,"Weston, Wyoming, US",10106.721683,2.664975

In [618]:
# The United States has 50 states. df_us_states contains additional states which are not the states of the United States. Remove those additional states from the dataframe.

removed_non_state = df_us_states[df_us_states.Admin2.isnull() != True]
remove_non_states.reset_index(drop=True)

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Alabama,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
1,Alaska,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
2,Arizona,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
3,Arkansas,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
4,California,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606
5,Colorado,90008.0,Yuma,US,2021-01-02 05:22:33,40.875954,-102.351923,48023,669,0,47354.0,"Yuma, Colorado, US",27388.219766,6.521739
6,Connecticut,90009.0,Windham,US,2021-01-02 05:22:33,41.858538,-71.981823,56288,1852,0,54568.0,"Windham, Connecticut, US",5966.934229,3.967438
7,Delaware,90010.0,Unassigned,US,2021-01-02 05:22:33,39.579926,-75.390313,33433,541,0,32969.0,"Unassigned, Delaware, US",6474.970648,1.964922
8,Florida,90012.0,Washington,US,2021-01-02 05:22:33,30.867475,-80.431098,298873,4188,0,294685.0,"Washington, Florida, US",16884.350511,4.517026
9,Georgia,90013.0,Worth,US,2021-01-02 05:22:33,34.913692,-81.124895,58565,790,0,57961.0,"Worth, Georgia, US",20243.880077,7.276995
10,Hawaii,90015.0,Unassigned,US,2021-01-02 05:22:33,22.039350,-155.521017,18235,224,0,18011.0,"Unassigned, Hawaii, US",1871.095045,2.341311
11,Idaho,90016.0,Washington,US,2021-01-02 05:22:33,48.766848,-111.205677,38262,355,0,37907.0,"Washington, Idaho, US",13150.575087,3.095238
12,Illinois,90017.0,Woodford,US,2021-01-02 05:22:33,42.365424,-87.728840,393652,7860,0,385367.0,"Woodford, Illinois, US",13056.721824,4.454343
13,Indiana,90018.0,Whitley,US,2021-01-02 05:22:33,41.644239,-84.924971,71487,1300,0,70331.0,"Whitley, Indiana, US",11260.580010,3.846154
14,Iowa,90019.0,Wright,US,2021-01-02 05:22:33,43.381079,-90.532751,41670,412,0,41258.0,"Wright, Iowa, US",18995.922528,5.468750
15,Kansas,90020.0,Wyandotte,US,2021-01-02 05:22:33,39.827996,-94.763782,40608,454,0,40202.0,"Wyandotte, Kansas, US",22085.431822,5.970149
16,Kentucky,90021.0,Woodford,US,2021-01-02 05:22:33,38.970651,-82.394874,50804,530,0,50274.0,"Woodford, Kentucky, US",14088.882885,3.636364
17,Louisiana,90022.0,Winn,US,2021-01-02 05:22:33,32.831211,-89.518871,31498,679,0,30829.0,"Winn, Louisiana, US",13977.554292,4.492261
18,Maine,90023.0,York,US,2021-01-02 05:22:33,46.659263,-67.628135,7457,98,0,7359.0,"York, Maine, US",2527.770904,4.450262
19,Maryland,90024.0,Worcester,US,2021-01-02 05:22:33,39.623576,-75.332000,55139,1129,0,54050.0,"Worcester, Maryland, US",7773.801409,3.638814
20,Massachusetts,90025.0,Worcester,US,2021-01-02 05:22:33,42.668763,-70.288543,75615,2729,0,72886.0,"Worcester, Massachusetts, US",7405.130831,7.198748
21,Michigan,90026.0,Wexford,US,2021-01-02 05:22:33,47.631977,-82.679380,84941,3624,0,81317.0,"Wexford, Michigan, US",8613.653473,5.228758
22,Minnesota,90027.0,Yellow Medicine,US,2021-01-02 05:22:33,48.777541,-90.526295,86273,1382,0,84891.0,"Yellow Medicine, Minnesota, US",16320.680568,13.288288
23,Mississippi,90028.0,Yazoo,US,2021-01-02 05:22:33,34.880845,-88.239172,14885,272,0,14746.0,"Yazoo, Mississippi, US",11454.408440,4.809287
24,Missouri,90029.0,Wright,US,2021-01-02 05:22:33,40.479456,-89.295058,69480,1391,0,68089.0,"Wright, Missouri, US",10855.641320,4.402516
25,Montana,90030.0,Yellowstone,US,2021-01-02 05:22:33,48.784200,-104.251093,13847,161,0,13686.0,"Yellowstone, Montana, US",15391.545912,10.000000
26,Nebraska,90031.0,York,US,2021-01-02 05:22:33,42.899727,-95.717550,53581,515,0,53066.0,"York, Nebraska, US",17502.247079,13.043478
27,Nevada,90032.0,White Pine,US,2021-01-02 05:22:33,41.406922,-114.879039,171850,2384,0,169466.0,"White Pine, Nevada, US",12371.747212,3.030303
28,New Hampshire,90033.0,Unassigned,US,2021-01-02 05:22:33,44.690633,-71.023360,17624,435,0,17189.0,"Unassigned, New Hampshire, US",4226.125532,2.468225
29,New Jersey,90034.0,Warren,US,2021-01-02 05:22:33,41.138916,-74.071643,52473,2399,0,45300.0,"Warren, New Jersey, US",8002.973142,5.679934
30,New Mexico,90035.0,Valencia,US,2021-01-02 05:22:33,36.605697,-103.346888,41121,573,0,40548.0,"Valencia, New Mexico, US",13845.334678,6.529851
31,New York,90036.0,Yates,US,2021-01-02 05:22:33,44.745309,-72.801217,127132,7745,0,119554.0,"Yates, New York, US",8523.308031,271.875000
32,North Carolina,90037.0,Yancey,US,2021-01-02 05:22:33,36.493609,-75.717673,62454,554,0,61900.0,"Yancey, North Carolina, US",7731.658560,3.931204
33,North Dakota,90038.0,Williams,US,2021-01-02 05:22:33,48.814939,-96.948530,19929,176,0,19760.0,"Williams, North Dakota, US",18058.592042,4.624277
34,Ohio,90039.0,Wyandot,US,2021-01-02 05:22:33,41.708603,-80.748302,84050,1511,0,83352.0,"Wyandot, Ohio, US",10498.315001,4.037267
35,Oklahoma,90040.0,Woodward,US,2021-01-02 05:22:33,36.835327,-94.658593,57993,441,0,57552.0,"Woodward, Oklahoma, US",16345.142055,2.374670
36,Oregon,90041.0,Yamhill,US,2021-01-02 05:22:33,45.997129,-117.183538,25290,390,0,24900.0,"Yamhill, Oregon, US",9466.487848,5.882353
37,Pennsylvania,90042.0,York,US,2021-01-02 05:22:33,41.992538,-75.032081,93885,2450,0,91435.0,"York, Pennsylvania, US",7503.576228,4.643351
38,Rhode Island,90044.0,Washington,US,2021-01-02 05:22:33,41.870647,-71.265698,58946,1348,0,57598.0,"Washington, Rhode Island, US",9225.722339,2.543507
39,South Carolina,90045.0,York,US,2021-01-02 05:22:33,35.051223,-78.995553,37327,502,0,36825.0,"York, South Carolina, US",8041.202989,4.179728
40,South Dakota,90046.0,Ziebach,US,2021-01-02 05:22:33,45.770749,-96.655783,24977,264,0,24713.0,"Ziebach, South Dakota, US",21435.845214,5.791506
41,Tennessee,90047.0,Wilson,US,2021-01-02 05:22:33,36.556065,-81.848865,66562,903,0,65659.0,"Wilson, Tennessee, US",20068.415051,2.998236
42,Texas,90048.0,Zavala,US,2021-01-02 05:22:33,36.278291,-93.744088,239657,3417,0,236240.0,"Zavala, Texas, US",16739.666028,9.523810
43,Utah,90049.0,Weber-Morgan,US,2021-01-02 05:22:33,41.521068,-109.517442,107386,553,0,106833.0,"Weber-Morgan, Utah, US",10569.993792,2.275960
44,Vermont,90050.0,Windsor,US,2021-01-02 05:22:33,44.856276,-71.735799,2658,69,0,2589.0,"Windsor, Vermont, US",1622.968237,4.612546
45,Virginia,90051.0,York,US,2021-01-02 05:22:33,39.201726,-75.632346,44525,683,0,43842.0,"York, Virginia, US",13187.332598,7.211538
46,Washington,90053.0,Yakima,US,2021-01-02 05:22:33,48.822280,-117.202285,62580,1050,0,61530.0,"Yakima, Washington, US",9212.156855,4.761905
47,West Virginia,90054.0,Wyoming,US,2021-01-02 05:22:33,40.519439,-77.860141,8766,207,0,8559.0,"Wyoming, West Virginia, US",7897.871073,3.695652
48,Wisconsin,90055.0,Wood,US,2021-01-02 05:22:33,46.528688,-87.300027,92090,1003,0,91087.0,"Wood, Wisconsin, US",15759.438104,6.261860
49,Wyoming,90056.0,Weston,US,2021-01-02 05:22:33,44.790489,-104.353474,7045,92,0,6983.0,"Weston, Wyoming, US",10106.721683,2.664975

In [619]:
# Which state has the minimum number of active cases?
min_state = remove_non_states.loc[remove_non_states.Active.idxmin()].Province_State
min_state

'Vermont'

In [621]:
# Find the number of cases for each country
cases_confirmed = df5.filter(items=['Country_Region', 'Confirmed']).groupby(['Country_Region']).sum()
cases_confirmed

                    Confirmed
Country_Region
Afghanistan             51526
Albania                 58316
Algeria                 99897
Andorra                  8117
Angola                  17568
...                       ...
Vietnam                  1474
West Bank and Gaza     139223
Yemen                    2101
Zambia                  20997
Zimbabwe                14084

[192 rows x 1 columns]