# Exercise 1

In [192]:
import pandas as pd
import numpy as np

In [193]:
data = {"b": 4, "a": 2, "c": 5,"d": "hi", "f": "pandas", "z": np.nan}
ds = pd.Series(data)
ds

b         4
a         2
c         5
d        hi
f    pandas
z       NaN
dtype: object

In [194]:
ds = ds.dropna() #removed null value

In [195]:
ds.sort_index() #sort alphabetically

a         2
b         4
c         5
d        hi
f    pandas
dtype: object

In [196]:
ds.nunique()    # count of unique element

5

In [197]:
ds.sort_index(ascending=False)  #sort descending

f    pandas
d        hi
c         5
b         4
a         2
dtype: object

# Exercise 2

In [206]:
df = pd.DataFrame(np.random.randint(100,size =(50, 5)) ,columns = ['col1','col2','col3','col4','col5'])
print(df)
df.iloc[6:9, :3]

col1  col2  col3  col4  col5
0     48    18    50    65     6
1     27    54    15    26    56
2     67    47    72    60    62
3     32    43    90    58    53
4     46    65    29    86    61
5     75    35    64    25    46
6     49    72     0    77    93
7     87    83    31    69    26
8     77    23    35    18    68
9     92    39    37    56    39
10    72    13    66    60    37
11    62    15    60    19     1
12    13    16    11    32    33
13    97    80    45    73    81
14    64    68    19    88    21
15    63    58    55    68    19
16    65    39    23    89    79
17    22    21    98    33    43
18    37    75    29    78    18
19    24    19    67    26    78
20     1    74     1    56    67
21    43    49    36     9    67
22    20    98    13    75    75
23    75    91     8    16    78
24    37    92     4    61    19
25    97    67    38    62    23
26    88     0    48     4    98
27    45    26    98    60    32
28    28    53    54     9    32
29    10    34    90    92    97
30    18     2    13    54    30
31    93    61    10    17    15
32     4    88    70    90    14
33    21    94    97    69    45
34    40    92    26    78    15
35    69    14    42    28    98
36    70    27    98    71    83
37    53    94    68    42    28
38    34     2    73    49    57
39    31    47    70    79    20
40     5    23    17    56    83
41     7    29    46    99    55
42    28    40    28    23    12
43    87    53    94    54    17
44    39    33    43    53    31
45    36    20    24    22    69
46    56    22    96     3    53
47    13    14    38     0    52
48    47    18    68    53    74
49    18    98    54    68    47

   col1  col2  col3
6    49    72     0
7    87    83    31
8    77    23    35

In [199]:
df.loc[40:50,["col2","col5"]]

    col2  col5
40    97    74
41    28     4
42    22    47
43    21    70
44    42    59
45    68     4
46    35    81
47     3    20
48    39    37
49    25    30

In [200]:
df.loc[df["col2"] > 10, ["col1","col5"]]

    col1  col5
0     81    48
1     97    12
2     31     3
4     91    81
6      1    91
7     66     2
8     22    26
10    14    67
11    31     0
12    86     7
13    37     9
14    71    50
15    63    56
16    59    26
17    93    82
18    83    56
19     5    22
20    11     5
21    67    55
22     4    63
26    84    77
27    40    91
28    69    30
29    28    62
30    95    54
31    24    65
32    83     2
33    90    22
34     3    34
35    89    97
37    97    90
38    99     4
39    96    53
40    45    74
41    45     4
42    44    47
43    92    70
44    53    59
45    60     4
46    44    81
48    75    37
49    96    30

In [201]:
df1 = df['col1'].sample(n=10,random_state=1)

df_list = df1.to_numpy()
df_list = np.append(df_list,np.random.randint(100,size = 5))
print(df_list)
filtered_df = df['col1'].isin(df_list)
df[filtered_df]

[40 89 45 99 31 24 75 28 44 24 39 21 45 12 85]

    col1  col2  col3  col4  col5
2     31    92    38    21     3
3     24    10    97    56    43
11    31    84    45    42     0
27    40    98    34    33    91
29    28    37    80    97    62
31    24    72     6    59    65
35    89    23    73    31    97
38    99    13    43    68     4
40    45    97    68     3    74
41    45    28    43    36     4
42    44    22    23    79    47
46    44    35    66    83    81
48    75    39    26    50    37

In [202]:
df.iloc[[35],[0,2]] = 25    #update 35th index of 1st and 3rd column with 25
df

    col1  col2  col3  col4  col5
0     81    85    96    32    48
1     97    33    12    78    12
2     31    92    38    21     3
3     24    10    97    56    43
4     91    36    76    23    81
5     30     7    46     1    45
6      1    27    17    42    91
7     66    87    10    22     2
8     22    55     9    51    26
9      7     1    49    44    17
10    14    24    37    94    67
11    31    84    45    42     0
12    86    20    37    14     7
13    37    85    11    39     9
14    71    14    44    76    50
15    63    57    38     8    56
16    59    30    29    99    26
17    93    53     7    78    82
18    83    41    97    36    56
19     5    69     2    55    22
20    11    98    93    76     5
21    67    23     2    63    55
22     4    55     0    92    63
23    62     0    72    51    68
24    25     8    78    56    20
25    52     5    53    52    77
26    84    66    36    96    77
27    40    98    34    33    91
28    69    19     5    90    30
29    28    37    80    97    62
30    95    27    76    67    54
31    24    72     6    59    65
32    83    62    56    34     2
33    90    66    71    88    22
34     3    25    17    82    34
35    25    23    25    31    97
36    86    10    69    68    86
37    97    23     6    37    90
38    99    13    43    68     4
39    96    71    32    90    53
40    45    97    68     3    74
41    45    28    43    36     4
42    44    22    23    79    47
43    92    21    67    50    70
44    53    42    63    11    59
45    60    68    50     4     4
46    44    35    66    83    81
47    15     3    81    46    20
48    75    39    26    50    37
49    96    25    62    31    30

In [203]:
df.drop(df.index[[35,39,41]], inplace=True)
df

    col1  col2  col3  col4  col5
0     81    85    96    32    48
1     97    33    12    78    12
2     31    92    38    21     3
3     24    10    97    56    43
4     91    36    76    23    81
5     30     7    46     1    45
6      1    27    17    42    91
7     66    87    10    22     2
8     22    55     9    51    26
9      7     1    49    44    17
10    14    24    37    94    67
11    31    84    45    42     0
12    86    20    37    14     7
13    37    85    11    39     9
14    71    14    44    76    50
15    63    57    38     8    56
16    59    30    29    99    26
17    93    53     7    78    82
18    83    41    97    36    56
19     5    69     2    55    22
20    11    98    93    76     5
21    67    23     2    63    55
22     4    55     0    92    63
23    62     0    72    51    68
24    25     8    78    56    20
25    52     5    53    52    77
26    84    66    36    96    77
27    40    98    34    33    91
28    69    19     5    90    30
29    28    37    80    97    62
30    95    27    76    67    54
31    24    72     6    59    65
32    83    62    56    34     2
33    90    66    71    88    22
34     3    25    17    82    34
36    86    10    69    68    86
37    97    23     6    37    90
38    99    13    43    68     4
40    45    97    68     3    74
42    44    22    23    79    47
43    92    21    67    50    70
44    53    42    63    11    59
45    60    68    50     4     4
46    44    35    66    83    81
47    15     3    81    46    20
48    75    39    26    50    37
49    96    25    62    31    30

In [204]:
df.reset_index(drop=True)

    col1  col2  col3  col4  col5
0     81    85    96    32    48
1     97    33    12    78    12
2     31    92    38    21     3
3     24    10    97    56    43
4     91    36    76    23    81
5     30     7    46     1    45
6      1    27    17    42    91
7     66    87    10    22     2
8     22    55     9    51    26
9      7     1    49    44    17
10    14    24    37    94    67
11    31    84    45    42     0
12    86    20    37    14     7
13    37    85    11    39     9
14    71    14    44    76    50
15    63    57    38     8    56
16    59    30    29    99    26
17    93    53     7    78    82
18    83    41    97    36    56
19     5    69     2    55    22
20    11    98    93    76     5
21    67    23     2    63    55
22     4    55     0    92    63
23    62     0    72    51    68
24    25     8    78    56    20
25    52     5    53    52    77
26    84    66    36    96    77
27    40    98    34    33    91
28    69    19     5    90    30
29    28    37    80    97    62
30    95    27    76    67    54
31    24    72     6    59    65
32    83    62    56    34     2
33    90    66    71    88    22
34     3    25    17    82    34
35    86    10    69    68    86
36    97    23     6    37    90
37    99    13    43    68     4
38    45    97    68     3    74
39    44    22    23    79    47
40    92    21    67    50    70
41    53    42    63    11    59
42    60    68    50     4     4
43    44    35    66    83    81
44    15     3    81    46    20
45    75    39    26    50    37
46    96    25    62    31    30

# Exercise 3